useDynLib(SemiCompRisks) 

export(BayesSurv)
export(BayesID)
export(FreqID)
export(FreqSurv)
export(simID)
export(simSurv)
export(initiate.startValues)

S3method(print, Bayes)
S3method(print, summ.Bayes)
S3method(print, Freq)
S3method(print, summ.Freq)
S3method(summary, Bayes)
S3method(summary, Freq)
S3method(plot, Bayes)
S3method(plot, Freq)

import(MASS)
import(survival)

importFrom("graphics", "abline", "lines", "par", "plot", "axis")
importFrom("stats", "median", "quantile", "runif", "rweibull", "sd", "var", "as.formula", "coef", "model.frame", "model.matrix", "nlm", "qnorm", "rgamma", "rnorm")
importFrom("utils", "write.table")
