useDynLib(SemiCompRisks, .registration = TRUE) 

export(BayesSurv_HReg)
export(BayesSurv_AFT)
export(BayesID_HReg)
export(BayesID_AFT)
export(FreqID_HReg)
export(FreqSurv_HReg)
export(simID)
export(simSurv)
export(initiate.startValues_HReg)
export(initiate.startValues_AFT)

export(BayesID)
export(BayesSurv)
export(initiate.startValues)
export(FreqID)
export(FreqSurv)

S3method(print, Bayes_HReg)
S3method(print, Bayes_AFT)
S3method(print, summ.Bayes_HReg)
S3method(print, summ.Bayes_AFT)
S3method(print, Freq_HReg)
S3method(print, summ.Freq_HReg)
S3method(summary, Bayes_HReg)
S3method(summary, Bayes_AFT)
S3method(summary, Freq_HReg)
S3method(plot, Bayes_HReg)
S3method(plot, Bayes_AFT)
S3method(plot, Freq_HReg)

import(MASS)
import(survival)

importFrom("graphics", "abline", "lines", "par", "plot", "axis")
importFrom("stats", "median", "quantile", "runif", "rweibull", "sd", "var", "as.formula", "coef", "model.frame", "model.matrix", "nlm", "qnorm", "rgamma", "rnorm", "dnorm", "pnorm")
importFrom("utils", "write.table")
